[submodule "externals/ear"]
	path = externals/ear
	url = https://github.com/borcun/ear.git
[submodule "externals/curl"]
	path = externals/curl
	url = https://github.com/curl/curl.git
[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
